<div class="navbar">
  <div class="navbar-logo">🌳 La <span>Forêt</span> Enchantée 🌳</div>
  <button class="play-button" routerLink="/choix">Jouer</button>
</div>
<h3 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h3>
<h2 align="center">🌳🌳🌳 Bienvenue dans La Forêt Enchantée 🌳🌳🌳</h2>
<div class="container bordered-text">
  <h3>
    Entrez dans un monde magique où la forêt s'étend sur une vaste surface de 25
    km². Ici, la nature est en harmonie avec des créatures fantastiques, des
    super-héros et des mystères à découvrir.
  </h3>
  <h3>🥷 Vous rencontrerez trois super-héros principaux :</h3>
  <ul>
    <li>
      <strong>Jo le Nain</strong> - Un guerrier courageux, armé de son arbalète.
    </li>
    <li>
      <strong>Peter le Lutin</strong> - Agile et rusé, il utilise son
      lance-pierre pour repousser les ennemis.
    </li>
    <li>
      <strong>Elia la Fée</strong> - Dotée de pouvoirs magiques, elle manie un
      arc à flèches enchantées.
    </li>
  </ul>
  <h3>
    🐲 Au fil de votre aventure, vous découvrirez des montures fabuleuses :
  </h3>
  <ul>
    <li>
      <strong>Cheval</strong> - Pour une vitesse et une agilité incomparables.
    </li>
    <li>
      <strong>Dragon</strong> - Puissant et majestueux, le dragon est votre
      allié ultime.
    </li>
    <li>
      <strong>Loup</strong> - Silencieux et rapide, le loup est parfait pour la
      traque.
    </li>
  </ul>
  <h3>
    👺 Faites attention aux créatures dangereuses qui peuplent cette forêt :
  </h3>
  <ul>
    <li>
      <strong>Chiens enragés</strong> - Des bêtes féroces et imprévisibles.
    </li>
    <li>
      <strong>Lions enragés</strong> - Des prédateurs redoutables, toujours
      prêts à attaquer.
    </li>
  </ul>
  <h3>
    Préparez-vous à vivre des aventures épiques, à faire des choix stratégiques
    et à découvrir les secrets cachés de La Forêt Enchantée. Bonne chance,
    aventurier !
  </h3>
</div>
<div class="footer-image">
  <img src="assets/images/nain-acceuil.gif" alt="Nain acceuil" />
</div>
<h3 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h3>
<audio controls autoplay loop>
  <source src="assets\audio\a-afligida-170515.mp3" type="audio/mpeg" />
  Votre navigateur ne supporte pas l'élément audio.
</audio>
