<div class="navbar">
  <div class="navbar-logo">🌳 La <span>Forêt</span> Enchantée 🌳</div>
  <button class="play-button" routerLink="/choix">Jouer</button>
</div>
<br /><br /><br />
<h1 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h1>
<div class="container">
  <div class="heroes">
    <div
      class="hero-card"
      *ngFor="let hero of heroes"
      (click)="selectHero(hero)"
    >
      <img [src]="hero.image" alt="{{ hero.name }}" />
      <h3>{{ hero.name }}</h3>
      <p>{{ hero.type }}</p>
      <p class="description">{{ hero.description }}</p>
    </div>
  </div>
  <div *ngIf="selectedHero" class="hero-details" align="center">
    <h2>{{ selectedHero.name }}</h2>
    <h3>Description :</h3>
    <p>{{ selectedHero.description }}</p>
    <h3>🎯 Choisissez une arme :</h3>
    <ul class="weapons">
      <li *ngFor="let weapon of weapons">{{ weapon }}</li>
    </ul>
  </div>
</div>
<h3 style="color: red" align="center">
  ➡️ Cliquer sur une arme pour afficher sa déscription...
</h3>
<div class="footer-image" align="center">
  <img src="assets/images/nain-acceuil.gif" alt="Nain acceuil" width="5%" />
</div>
<h1 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h1>
