.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-card {
  border: 1px solid #4caf50;
  border-radius: 10px;
  padding: 1.5em;
  margin: 1em;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  inline-size: 380px;
  block-size: 750px;
}

.hero-card img {
  inline-size: 350px;
  block-size: 590px;
  border-radius: 15px;
  object-fit: cover;
  margin-block-end: 15px;
}

.hero-card h3 {
  margin: 0;
  color: #4caf50;
  font-size: 1.2em;
}

.hero-card p {
  margin-block-start: 30px;
  color: #555;
}

.weapons li {
  background-color: #f9f9f9;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  display: inline-block;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #deb887;
}
.navbar-logo span {
  color: #fff;
}
.container {
  padding: 20px;
}
.bordered-text h3,
.bordered-text ul {
  color: #deb887;
}
.footer-image img {
  display: block;
  margin: 20px auto;
  max-inline-size: 100%;
}
.forest {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tree {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.tree-sapins {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tree-level {
  font-size: 20px;
}
.tree-trunk {
  font-size: 20px;
}
.forest-creature {
  inline-size: 100px;
  block-size: auto;
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
}
.blood-drop {
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  background-color: red;
  border-radius: 50%;
  opacity: 0.8;
  animation: fall linear infinite;
}
@keyframes fall {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(100vh);
  }
}
.mountain {
  white-space: pre;
  font-family: monospace;
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
}
.brown {
  color: #deb887;
}
.green {
  color: #228b22;
}

.play-button {
  background-color: yellow;
  color: blue;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: gold;
}

.container {
  padding: 20px;
}
