<div class="navbar">
  <div class="navbar-logo">🌳 La Forêt Enchantée 🌳</div>
  <div class="points-container">
    <h2>
      Points: <span id="points">{{ points }}</span>
    </h2>
    <div id="wolfContainer"></div>
    <div id="elfContainer"></div>
  </div>
</div>
<br />
<div class="player-info">
  <img
    alt="Avatar du joueur"
    class="player-avatar"
    src="assets/avatar/Avatar/avatar1.png"
  />
  <h2 style="color: chartreuse">{{ playerName }}</h2>
  <h2 style="color: red">
    Score: <span id="points">{{ points }}</span>
  </h2>
  <h3 style="color: blue">High Score: {{ playerScore }}</h3>
</div>
<div class="container">
  <div class="center-button">
    <button
      class="start-game-button"
      (click)="startGame()"
      style="background-color: chartreuse; font-size: 18px; border-radius: 5px"
    >
      Register
    </button>
    &#160;&#160;&#160;&#160;
    <button
      class="launch-arrows-button"
      (click)="launchArrows()"
      style="
        background-color: rgb(182, 177, 177);
        font-size: 18px;
        border-radius: 5px;
      "
    >
      Lancer des flèches
    </button>
    &#160;&#160;&#160;&#160;
    <button
      class="launch-wolves-button"
      (click)="launchWolves()"
      style="
        background-color: rgb(255, 0, 162);
        font-size: 18px;
        border-radius: 5px;
      "
    >
      Lancer des loups
    </button>
    &#160;&#160;&#160;&#160;
    <button
      id="restartButton"
      class="restart-button"
      (click)="restartGame()"
      style="background-color: aqua; font-size: 18px; border-radius: 5px"
    >
      Commencer la partie
    </button>
  </div>
  <h3 align="center" style="color: yellow">
    ⚠️☠️🚨 Votre zone de Jeu ▄︻デ══━一💥
  </h3>
  <h3 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h3>
  <div class="container">
    <div class="cards-container">
      <div *ngIf="selectedHero" class="hero-card">
        <img [src]="selectedHero.image" alt="{{ selectedHero.name }}" />
        <h3>{{ selectedHero.name }}</h3>
        <p>{{ selectedHero.type }}</p>
        <p class="description">{{ selectedHero.description }}</p>
      </div>
      <div *ngIf="selectedMount" class="mount-card">
        <img [src]="selectedMount.image" alt="{{ selectedMount.name }}" />
        <h3>{{ selectedMount.name }}</h3>
        <p>{{ selectedMount.type }}</p>
        <p class="description">{{ selectedMount.description }}</p>
      </div>
      <div *ngIf="selectedMonster" class="monster-card">
        <img [src]="selectedMonster.image" alt="{{ selectedMonster.name }}" />
        <h3>{{ selectedMonster.name }}</h3>
        <p class="description">{{ selectedMonster.description }}</p>
      </div>
      <div *ngIf="selectedWeapon" class="weapon-card">
        <img [src]="selectedWeapon.image" alt="{{ selectedWeapon.name }}" />
        <h3>{{ selectedWeapon.name }}</h3>
        <p class="description">{{ selectedWeapon.description }}</p>
      </div>
    </div>
  </div>
  <div class="tree-border">
    <div class="emoticon-container" id="emoticonContainer">
      <!-- Emoticons will be dynamically added here -->
    </div>
  </div>
  <div id="winMessage" class="win-message">You Win!</div>
  <h3 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h3>
  <div align="center">
    <audio controls autoplay loop>
      <source src="assets/audio/a-afligida-170515.mp3" type="audio/mpeg" />
      Votre navigateur ne supporte pas l'élément audio.
    </audio>
  </div>
  <div id="gameOverMessage"></div>
  <div id="winMessage"></div>
</div>
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Enregistrement</h2>
    <form (ngSubmit)="registerPlayer()" #registrationForm="ngForm">
      <div class="form-group">
        <label for="name">Pseudo:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="playerName"
          name="name"
          required
          #name="ngModel"
          [class.invalid]="name.invalid && (name.dirty || name.touched)"
        />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="error-message"
        >
          Pseudo est requis.
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="playerEmail"
          name="email"
          required
          #email="ngModel"
          [class.invalid]="email.invalid && (email.dirty || email.touched)"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="error-message"
        >
          Email est requis.
        </div>
      </div>
      <button
        type="submit"
        [disabled]="registrationForm.invalid"
        onclick="startGame()"
      >
        Commencer la partie
      </button>
    </form>
  </div>
</div>
