<br /><br /><br />
<div class="container">
  <br /><br />
  <h1>⨺⃝⋆˚🐾˖°⨺⃝⋆˚🐾˖° 🐲 👹 🧟‍♀️ 🐺 ⨺⃝⋆˚🐾˖°⨺⃝⋆˚🐾˖°</h1>
  <div class="forest">
    <div class="tree">
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <img
        src="assets/images/dragon.gif"
        alt="Dragon"
        class="forest-creature dragon"
      />
    </div>
    <div class="tree">
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <img
        src="assets/images/loup.gif"
        alt="Loup"
        class="forest-creature wolf"
      />
    </div>
  </div>
</div>
