<div class="navbar">
  <div class="navbar-logo">🌳 La <span>Forêt</span> Enchantée 🌳</div>
  <button class="play-button" routerLink="/choix">Jouer</button>
</div>
<div class="container">
  <h1>⛰️🌲🌿🌴🍃⛰️🌲🌿🌴🍃⛰️🌲🌿🌴🍃⛰️🌲🌿🌴🍃⛰️🌲🌿🌴🍃⛰️</h1>
  <h1>⨺⃝⋆˚🐾˖°⨺⃝⋆˚🐾˖° 🐲 👹 🧟‍♀️ 🐺 ⨺⃝⋆˚🐾˖°⨺⃝⋆˚🐾˖°</h1>
  <br /><br />
  <div class="forest">
    <div class="tree">
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
    </div>
    <div class="tree">
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
      <div class="tree-sapins">
        <div class="tree-level">*</div>
        <div class="tree-level">***</div>
        <div class="tree-level">*****</div>
        <div class="tree-trunk">*</div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h3 style="color: red" align="center">
  ⚠️ La forêt a une surface de 25 km2 et elle est peuplée de monstres
  dangereux...
</h3>
<div class="footer-image" align="center">
  <img src="assets/images/nain-acceuil.gif" alt="Nain acceuil" width="5%" />
</div>
