<div class="navbar">
  <div class="navbar-logo">🌳 La <span>Forêt</span> Enchantée 🌳</div>
  <button class="play-button" routerLink="/choix">Jouer</button>
</div>
<h1 align="center">𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣👹🐉𓆩🖤𓆪🏴‍☠️☠💪🦅🧟‍♂️🦇🦕☠️☠️☠️𓂀𓂀𓂀𓋹𓁈𓃠𓆃☥𓅓𓆣</h1>
<div class="container" align="center">
  <div class="monsters">
    <div
      class="monster-card"
      *ngFor="let monster of monsters"
      (click)="selectMonster(monster)"
    >
      <img [src]="monster.image" alt="{{ monster.name }}" />
      <h3>{{ monster.name }}</h3>
      <p class="description">{{ monster.description }}</p>
    </div>
  </div>
  <div *ngIf="selectedMonster" class="monster-details">
    <h2>{{ selectedMonster.name }}</h2>
    <h3>Description :</h3>
    <p>{{ selectedMonster.description }}</p>
  </div>
</div>
<h3 style="color: red" align="center">
  ➡️ Cliquer sur un monstre pour afficher sa déscription...
</h3>
<div class="footer-image" align="center">
  <img src="assets/images/nain-acceuil.gif" alt="Nain acceuil" width="6%" />
</div>
